:root{
    --primary-colour: rgb(240, 145, 161);
}

body {
    background: #d1cccc;
    margin: 0;
    font-family: 'arial';
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-colour)
        }

    }
}

nav{
    display: none;
}

.container{
    display: flex;
    place-content: space-between;
}