:root{
    --primary-colour: rgb(240, 145, 161);
    --secondary-colour: #d1cccc;
    --third-colour: rgb(110, 62, 70);
}

body {
    background: #d1cccc;
    margin: 0;
    font-family: 'arial';
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-colour)
        }

    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }

}

a{
    color: var(--secondary-colour);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 4em 2em;
}

.hero{
    text-align: center;
}

.left-col{
    
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(97, 97, 97);
        letter-spacing: 2mm;
    }

    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: 0em;
    }
    .primary-cta{
        background: var(--primary-colour);
        color: white;
        text-decoration: none;
        padding: 0.5em 0.4em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
        margin: 0mm;

    }

}

.hero-image{
    margin-top: 2em;
    width: 100%;
}

.feature-section{
    background: var(--third-colour);
    color: white;
}

ul.feature-list{
    text-transform: capitalize;
    margin: 0;
    padding-left: 0.1em;
    // display config
    
    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before{
            content: '';
            margin-left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../image/tick.svg);
            background-size: contain;
            margin-right: 0.5em;

        }
    }
}

.feature-section img{
    display: none;
}

.review-section{
    background: var(--secondary-colour);
    color: black;
    
    li{
        background: var(--primary-colour);
        text-align: centre;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        
        img{
            width: 10em;
            height: 10em;
            border: 3px solid white;
            border-radius: 50%;
            margin-top: -5.5em;
        }
    }
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 40%;
    right: 0;
    top: 0;
    text-align: left;
    background: var(--third-colour);
    padding: 1em;
    height: 100vh;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{
        a{
            color:white;
            text-decoration: none;
            display: block;
            padding: .75em;
            font-size: 1.2em;
            text-align: right;

            &:hover{
                font-weight: bold;
                color: var(--primary-colour);
            }
        }
    }

    .mobile-menu-exit{
        float: right;
        margin: 0.5em;
        cursor: pointer;
    }
}