:root{
    --primary-colour: rgb(240, 145, 161);
    --secondary-colour: #d1cccc;
    --third-colour: rgb(110, 62, 70);
}

body {
    background: #d1cccc;
    margin: 0;
    font-family: 'arial';
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-colour)
        }
    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

a{
    color: var(--secondary-colour);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 4em 2em;
}

.hero{
    text-align: center;
}

.left-col{
    
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(97, 97, 97);
        letter-spacing: 2mm;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: 0.2em;
    }

    .primary-cta{
        background: var(--primary-colour);
        color: white;
        text-decoration: none;
        padding: 0.5em 0.4em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }
}

.hero-image{
    width: 100%;
    margin-top: 2em;
}

section.feature-section{
    background: var(--third-colour);
    color: white;
}

ul.feature-list{
    text-transform: capitalize;
    margin: 0;
    padding-left: 0.1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    
    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before{
            content: '';
            margin-left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../image/tick.svg);
            background-size: contain;
            margin-right: 0.5em;

        }
    }
}

.feature-section img{
    display: none;
}

.review-section{
    background: var(--secondary-colour);
    color: black;
    
    li{
        background: var(--primary-colour);
        text-align: centre;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        
        img{
            width: 10em;
            height: 10em;
            border: 3px solid white;
            border-radius: 50%;
            margin-top: -5.5em;
        }
    }
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 40%;
    right: 0;
    top: 0;
    background: var(--third-colour);
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{
        a{
            color:white;
            text-decoration: none;
            display: block;
            padding: .75em;
            font-size: 1em;
            text-align: right;
            transition: all 0.5s;

            &:hover{
                font-weight: bold;
                font-size: 1.4em;
                color: var(--primary-colour);
            }
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

@media only screen and (min-width: 760px){

    .logo{ //quick fix to having the logo in line with the nav bar
        padding: 9px;
    }

    .mobile-menu, .mobile-menu-exit{
        display: none;
    }

    .navbar .container{
        display: flex;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }
        
        a {
            color: black;
            font-size: 1.3em;
            padding: .4em .4em;
        }

        ul.primary-nav{
            margin: 0;

        }

        .currentPage {
            font-weight: bold;
        }
   
    }

}

@media only screen and (min-width: 1084px){
    .container{
        width: 1000px;
        margin: 0 auto;
    }

    section{
        padding: 5em 4em;
    }

    .hero .container{
        display: flex;
        justify-content: space-between;

        .left-col{
            margin: 3em 3em 0 5em;

            h1{
                font-size: 3em;
                width: 90%;
            }
        }     
    }

    .hero-image{
        width: 50%;
        height: 50%;
        margin-right: 0;
    }

    ul.feature-list{
        display: block;
        margin-left: 2em;
        font-size: 1.2em;
    }

    .feature-section{
        position: relative;

        img{
            display: block;
            position: absolute;
            right: 40px;
            top: 30px;
            width: 50%;

        }
    }

    .review-section ul{
        display: flex;

        li{
            margin: 0 5px;
        }
    }

}
